<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<bean id="helloWorldXmlWithoutParam" class="AppContext.Scope.HelloWorldXml"/>

    <bean id="helloWorldXmlWithParam" class="AppContext.Scope.HelloWorldXml">
    	<constructor-arg value="ConstructorString"></constructor-arg>
    	<property name="propertyString" value="PropString"/>
    </bean>
    
    <bean id="beanAnnotations" class="AppContext.Scope.BeanAnnotations">
    	<property name="propTwo" value="BeanAnnotations: propTwo"/>
    </bean>
</beans>